*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.App{
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background-image: url(../src/assets/wallpaper.png);
  background-size: cover;
}

.wallpaper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: opacity 0.5s ease;

}

.fade-out {
  opacity: 0;
}